/* footer */
.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer-section {
  text-align: left;
}
.footer-section h3 {
  margin-bottom: 10px;
  color: #fff;
}
.links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.links ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.links ul li {
  padding: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact p {
  color: #ccc;
}
.contact p a{
  text-decoration: none;
  color: #ccc;
}
.social-icons {
  display: flex;
  gap: 12px;
}
.social-icons a {
  color: #080808;
  font-size: 20px;
  transition: 0.3s;
}
.social-icons a:hover {
  color: #fff;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  color: #ccc;
}
hr {
  display: none;
}
.footer-bottom p {
  text-align: center;
  color: #b8b0b0;
}

@media (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .links ul {
    flex-direction: row;
    gap: 10px;
    border-bottom: #b8b0b0;
  }
  hr {
    display: block;
  }
  .contact {
    justify-content: center;
  }
  .social {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  .social-icons {
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .footer-bottom p {
    text-align: center;
    color: #b8b0b0;
  }
}
